<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Vaulter" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Powrs Vaulter</title>
        <meta name="author" content="" />
        <link rel="stylesheet" href="./ContractPowrs_Css.css" />
    </head>
    <body>
        <div class="pageContainer">
            <!-- ******************* PAGE 1 ******************* -->
            <div>
                <div class="pageHeader">
                    <img src="./Powrs_Logo.png" class="headerLogo" />
                </div>

                <!-- **** Ugovorne strane ****  -->
                <div>
                    <h1 style="margin-top: 5pt; text-indent: 0pt; text-align: center">
                        Ugovor o korišćenju internet portala
                        <br />
                        "Vaulter PayLink"
                    </h1>

                    <p>
                        Zaključen u Beogradu, na dan <span><u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u></span
                        >. 2024. godine, između sledećih ugovornih strana:
                    </p>

                    <p>
                        1. <strong>POWRS D.O.O. BEOGRAD</strong>, Beograd, Balkanska 2, MB: 21761818, PIB: 112890694
                        koga zastupa: Mijat Ivović, direktor (u daljem tekstu: "Powrs")
                    </p>
                    <p>i</p>
                    <p>
                        2. <u>{{CompanyFullName}}</u>, <u>{{CompanyAddress}}</u>, Republika Srbija, MB:
                        <u>{{CompanyOrganizationNumber}}</u>, PIB: <u>{{CompanyTaxNumber}}</u>, koga zastupa <u>{{CompanyRepresenter}}</u>,
                        direktor (u daljem tekstu: Trgovac)
                    </p>
                    <p>(u daljem tekstu: Ugovorne strane)</p>
                </div>

                <!-- *** POJMOVI **** -->
                <div>
                    <p><strong>POJMOVI:</strong></p>
                    <p>
                        <strong>Internet portal</strong> je internet portal "Vaulter PayLink" putem koga Powrs, kao
                        pružalac usluga informacionog društva u smislu zakona kojim se uređuje elektronska trgovina,
                        omogućava svojim klijentima - Trgovcima povezivanje sa korisnicima Trgovačkih usluga i plaćanje
                        za usluge Trgovca upptrebom Platnih instrumenata putem linka za plaćanje.
                    </p>

                    <p>
                        <strong>Powrs</strong> je pružalac usluga informacionog društva - vlasnik internet portala koji
                        zaključuje ugovore sa Trgovcima, a kojima pruža uslugu korišćenja internet portala, i koji kao
                        registrovani zastupnik Institucije na osnovu Rešenja Narodne banke Srbije br. G.br.7960 od
                        25.07.2023. godine, omogućava pružanje usluge prenosa novčanih sredstava putem Linka za
                        plaćanje, koji Powrs obezbedjuje Trgovcima.
                    </p>

                    <p>
                        <strong>Link za plaćanje</strong> je link koji Powrs dostavlja Trgovcu putem internet portala, a
                        Trgovac dostavlja Korisniku putem email-a radi izvršenja plaćanja Platnim instrumentima.
                        Prilikom pristupa Linku za plaćanje, platilac će dobiti sledeće informacije: rezime
                        usluga/stavki koje kupuje, cenu tih usluga/stavki, naknadu na Vaulter uslugu, ukupnu cenu koju
                        treba da plati, Uslove korišćenja i opcije/načine plaćanja.
                    </p>

                    <p>
                        <strong>Trgovac</strong> je pravno lice ili preduzetnik koje sa Powrs zaključuje ugovor u vezi
                        sa korišćenjem Internet portala u cilju naplate usluga Trgovca preko Internet portala, a koji,
                        takođe, zaključuje ugovor sa Institucijom na osnovu koga Institucija omogućava prihvat platnih
                        instrumenata na Internet portalu. Trgovac daje saglasnost da se prenos novčanih sredstava po
                        osnovu realizacije plaćanja prihvatom Platnog instrumenta na Linku za plaćanje realizuje preko
                        Institucije, potpisivanjem ugovora sa Powrs-om i ugovora sa Institucijom.
                    </p>

                    <p>
                        <strong>Institucija elektronskog novca Payspot doo Novi Sad</strong> (u daljem tekstu:
                        Institucija) je Institucija elektronskog novca sa sedištem u Republici Srbiji, ovlašćena za
                        pružanje platnih usluga i izdavanje elektronskog novca na osnovu rešenja Narodne banke Srbije
                        br. 4. od 9.2. 2023.godine.
                    </p>

                    <p>
                        <strong>Instrukcije za prenos novčanih sredstava</strong> predstavljaju instrukcije koje Powrs
                        dostavlja Instituciji u cilju prenosa novčanih sredstava sa namenskog računa Institucije na
                        tekući račun Trgovca, a u skladu sa Nalogom Korisnika za izvršenje jednokratne platne
                        transakcije.
                    </p>

                    <p>
                        <strong>Korisnik</strong> je platilac, fizičko lice koje daje nalog za izvršenje jednokratne
                        platne transakcije u cilju kupovine usluge Trgovca na Internet portalu. Korisnik je korisnik
                        platne usluge Institucije po osnovu Ugovora o jednokratnoj platnoj transakciji koji se
                        zaključuje između Institucije i Korisnika na Internet portalu davanjem saglasnosti za izvršenje
                        jednokratne platne transakcije uspešnom upotrebom Platnog instrumenta. Korisnik ne plaća naknadu
                        Instituciji za izvršenje jednokratne platne transakcije.
                    </p>
                </div>
            </div>

            <!-- ******************* PAGE 2 ******************* -->
            <div class="pagebreak"></div>
            <div>
                <div class="pageHeader">
                    <img src="./Powrs_Logo.png" class="headerLogo" />
                </div>

                <div>
                    <p>
                        <strong>Platni instrumenti</strong> su platna kartica, elektronski novac Institucije i IPS
                        plaćanje.
                    </p>

                    <p>
                        <strong>Platna kartica</strong> (koju koristi Korisnik) je platni instrument u obliku fizičke
                        ili elektronske kartice koja se koristi za iniciranje platne transakcije
                    </p>

                    <p>
                        <strong>IPS plaćanje</strong> je bezgotovinsko plaćanje na internet prodajnom mestu koje se
                        obavlja metodom IPS SKENIRAJ, korišćenjem aplikacije mobilnog bankarstva na mobilnom telefonu
                        Korisnika.
                    </p>

                    <p>
                        <strong>Elektronski novac</strong> Institucije označava elektronski novac koji je pohranjen na
                        Vaučeru ili Platnoj kartici a koji izdaje Institucija.
                    </p>

                    <p>
                        <strong>Kartična transakcija</strong> je platna transakcija koja se inicira i izvršava na osnovu
                        korišćenja Platne kartice na Internet portalu, u skladu sa poslovnim pravilima Kartičarskih
                        sistema plaćanja i korišćenjem infrastrukture tih sistema, a koja se ne smatra transferom
                        odobrenja ili direktnim zaduženjem. U ovom poslovnom modelu podrazumeva se bezgotovinski prenos
                        sredstava sa platne kartice Korisnika na namenski račun Institucije preko Banke, sa ciljem
                        izvršenja jednokratne platne transakcije.
                    </p>

                    <p>
                        <strong>Jednokratna platna transakcija</strong> je platna transakcija prenosa novčanih
                        sredstava, nastala upotrebom Platnih instrumenata od strane Korisnika, koju vrši Institucija po
                        Nalogu Korisnika, a prema Instrukcijama za prenos novčanih sredstava dobijenim od strane Powrs
                        na tekuće račune Primalaca plaćanja kod poslovnih banaka.
                    </p>

                    <p>
                        <strong>Nalog Korisnika</strong> za izvršenje jednokratne platne transakcije predstavlja platni
                        nalog za izvršenje jednokratne platne transakcije, za čije izvršenje Korisnik daje saglasnost
                        upotrebom Platnog instrumenta na internet portalu, a na osnovu čega Powrs, u ime i za račun
                        Korisnika, dostavlja Instituciji Instrukcije za prenos novčanih sredstava koje sadrže sve
                        podatke potrebne za izvršenje jednokratne platne transakcije, u skladu sa saglasnošću Korisnika,
                        Uslovima korišćenja internet portala, odnosno uslovima zaključenja Ugovora o jednokratnoj
                        platnoj transakciji i izvršenja jednokratne platne transakcije.
                    </p>

                    <p>
                        <strong>Primaoci plaćanja</strong> su Trgovac na osnovu prodaje svojih usluga i Powrs na osnovu
                        provizije za omogućavanje korišćenja internet portala.
                    </p>

                    <p>
                        <strong>Izvršenje jednokratnih platnih transakcija</strong> od strane Institucije podrazumeva
                        usluge prijema i daljeg prenosa novčanih sredstava sa namenskog računa Institucije na tekuće
                        račune Primaoca plaćanja.
                    </p>

                    <p>
                        <strong>Banka</strong> je OTP Banka Srbija a.d. Novi Sad, koja je zaključila Ugovor sa
                        Institucijom o prihvatanju platnih transakcija po osnovu upotrebe platne kartice i na osnovu
                        koga se sredstva prenose na namenski račun Institucije.
                    </p>

                    <p>
                        <strong>Namenski račun Institucije</strong> je poseban namenski račun Institucije za zaštitu
                        sredstava korisnika finansijskih usluga otvorenih kod Banke i koji je izuzet od prinudne
                        naplate.
                    </p>

                    <p>
                        <strong>Uslovi korišćenja internet portala</strong> je dokument objavljen na internet portalu
                        koji definiše prava i obaveze Powrsa, Trgovca, Korisnika i Institucije, koji predstavljaju
                        sastavni deo ovog Ugovora.
                    </p>

                    <p>
                        <strong>Preduslov korišćenja internet portala</strong> je zaključivanje ovog ugovora,
                        registracija Trgovca na internet portalu, kao i prihvatanje Uslova korišćenja internet portala
                        od strane Trgovca.
                    </p>
                </div>
            </div>

            <!-- ******************* PAGE 3 ******************* -->
            <div class="pagebreak"></div>
            <div>
                <div class="pageHeader">
                    <img src="./Powrs_Logo.png" class="headerLogo" />
                </div>

                <!-- **** PREDMET UGOVORA **** -->
                <div>
                    <p><strong>PREDMET UGOVORA</strong></p>
                    <p style="text-align: center"><strong>Član 1</strong></p>
                    <p>
                        Predmet ovog Ugovora je uspostavljanje poslovne saradnje i regulisanje međusobnih prava, obaveza
                        i odgovornosti Powrs-a i Trgovca, u pogledu pružanja usluge informacionog društva Trgovcu,
                        odnosno korišćenja internet portala i „Vaulter PayLink“ servisa, u cilju povezivanja sa
                        Korisnicima usluga Trgovca, i omogućavanja plaćanja od strane Korisnika usluga Trgovca,
                        upotrebom Platnih instrumenata.
                    </p>
                    <p>
                        Funkcionalnost internet portala, servisa i proces realizacije usluge Powrs-a, detaljno su
                        objašnjeni u dokumentu „Upustvo za korišćenje Vaulter PayLink“ servisa (u daljem tekstu:
                        Uputstvo), koji predstavlja sastavni deo ovog Ugovora i dat je u Prilogu 1.
                    </p>
                    <p>
                        Trgovac ovim izričito potvrđuje da mu je dokument iz prethodnog stava ovog člana predočen pre
                        potpisivanja ugovora, i da je isti u celosti pročitao i razumeo.
                    </p>
                </div>

                <!-- **** PRAVA I OBAVEZE POWRSA-->
                <div>
                    <br />
                    <br />
                    <p><strong>PRAVA I OBAVEZE POWRS</strong></p>
                    <p style="text-align: center"><strong>Član 2</strong></p>
                    <p>Powrs se obavezuje:</p>
                    <ul>
                        <li>
                            da omogući Trgovcu pristup i registraciju na internet portalu radi korišćenja softverskog
                            rešenja i povezivanja sa Kupcem, a u cilju prodaje usluga kupcima i ponude plaćanja preko
                            internet portala;
                        </li>
                        <li>
                            da pre registracije Trgovca na Internet portalu, od Trgovca prikupi dokumentaciju neophodnu
                            za sprovođenje radnji i mera poznavanja i praćenja stranke prema zakonu kojim se uređuje
                            sprečavanje pranja novca i finansiranje terorizma, i vrši procenu rizika potencijalnog
                            Trgovca, sve u skladu sa propisima, instrukcijama i internim aktima Institucije, kao i da
                            Instituciji dostavi dokumentaciju na osnovu koje je izvršio radnje i mere poznavanja i
                            praćenja stranke i pribavio tražene podatke o Trgovcu;
                        </li>
                        <li>
                            da blagovremeno, a najkasnije u roku od 8 (slovima: osam) dana pre promene Upustva, dostavi
                            Trgovcu izmene Uputstva za korišćenje Vaulter Paylink u elektronskoj formi;
                        </li>
                        <li>
                            da na Internet portalu omogući Trgovcu i Korisnicima detaljno informisanje o svim Uslovima
                            korišćenja internet portala, a posebno u vezi sa uslovima realizacije jednokratne platne
                            transakcije koju Korisnik inicira u cilju plaćanja usluga koje kupuje preko Internet
                            portala, te da onemogući plaćanje na internet portalu ukoliko Korisnik nije dao saglasnost
                            sa uslovima pružaoca platnih usluga i pružaoca usluga internet portala;
                        </li>
                        <li>
                            da omogući plaćanje usluga Trgovca na Internet portalu Platnim instrumentima po ceni koja je
                            istovetna ceni koja važi za gotovinsku ili bilo koju drugu vrstu/metod plaćanja;
                        </li>
                        <li>
                            da na osnovu Naloga Korisnika za izvšenje jednokratne platne transakcije inicirane prihvatom
                            Platnog instrumenta, dostavi Instituciji instrukcije za prenos novčanih sredstava na račun
                            Trgovca i na račun Powrsa;
                        </li>
                        <li>
                            da omogući Trgovcu uvid u evidenciju realizovanih transakcija Korisnika i generisanih
                            linkova po kojima plaćanja nisu izvršena.
                        </li>
                    </ul>
                    <p>
                        Trgovac ovim putem potvrđuje da mu je jasno i da je saglasan, da tokom korišćenja internet
                        portala može doći do kratkotrajnog prekida u pružanju usluge generisanja PayLinka, u slučaju
                        neophodnog unapređenja sistema, popravki ili održavanja sistema, o čemu će Powrs obavestiti
                        Trgovaca najmanje 2 (dva) radna dana unapred, osim u urgentnim slučajevima ili kada razlozi
                        bezbednosti to ne dozvoljavaju.
                    </p>
                </div>
            </div>

            <!-- ******************* PAGE 4 ******************* -->
            <div class="pagebreak"></div>
            <div>
                <div class="pageHeader">
                    <img src="./Powrs_Logo.png" class="headerLogo" />
                </div>

                <!-- **** PRAVA I OBAVEZE TRGOVCA-->
                <p><strong>PRAVA I OBAVEZE TRGOVCA</strong></p>
                <p style="text-align: center"><strong>Član 3</strong></p>
                <p>Trgovac se obavezuje:</p>

                <ul>
                    <li>
                        da Powrs-u pre registracije na internet portalu dostavi popunjen Upitnik za Trgovca sa podacima
                        koji su definisani Prilogom 2. ovog Ugovora, kao i dokumentaciju u cilju prosleđivanja
                        Instituciji kao pružaocu platnih usluga, u vezi sa sprovođenjem radnji i mera poznavanja i
                        praćenja stranke prema zakonu kojim se uređuje sprečavanje pranja novca i finansiranje
                        terorizma, i procenom rizika Trgovca;
                    </li>
                    <li>
                        da sa Institucijom zaključi ugovor na osnovu koga Institucija omogućava prihvat Platnih
                        instrumenata putem Linka za plaćanje ;
                    </li>
                    <li>da se prema instrukcijama Powrs-a registruje na internet portalu;</li>
                    <li>
                        da se postara da sve usluge kojima trguje na Internet portalu budu moguće i dozvoljene, odnosno
                        da njihova prodaja nije zabranjena ili ograničena propisima Republike Srbije, ili se dovode u
                        vezu sa pranjem novca, finansiranjem terorizma ili širenjem oružja za masovno uništenje;
                    </li>
                    <li>
                        da jasno i razumljivo za Korisnika:
                        <ol>
                            <li>
                                učini dostupnim uslove korišćenja usluga Trgovca, kao i da informiše Korisnika da je
                                neophodno da se pre plaćanja Platnim instrumentom upozna i saglasi sa Opštim uslovima
                                poslovanja za pružanje platnih usluga i izdavanje elektronskog novca Institucije kao
                                pružaoca platnih usluga (u daljem tekstu: OUP Institucije), i Powrsa kao pružaoca usluga
                                internet portala;
                            </li>
                            <li>
                                objavi tačan opis ponuđenih usluga, uključujući cenu istih izraženu u valuti platne
                                transakcije - dinar (RSD);
                            </li>
                            <li>
                                opiše način korišćenja usluga sa posebnim akcentom na početak korišćenja usluge, kao i
                                način zaduživanja Platnog instrumenta;
                            </li>
                            <li>objavi uslove reklamacija - plaćanje, naknade, povraćaj novca/usluge;</li>
                        </ol>
                    </li>
                    <li>
                        da usluge Internet portala koristi u svemu saglasno odredbama ovog Ugovora, Uputstva, Opštim
                        Uslovima Poslovanja (OUP) Institucije, i odredbama važećih zakona i podzakonskih propisa;
                    </li>
                    <li>da postupa u skladu sa OUP Institucije;</li>
                    <li>
                        da u slučaju reklamacije i prigovora Korisnika u vezi sa platnom transakcijom, na zahtev Powrs-a
                        dostavi sve tražene podatke, a koji se odnose na predmetnu reklamaciju, najkasnije u roku od
                        jednog radnog dana od prijema zahteva Powrs-a;
                    </li>
                    <li>
                        da svaku reklamaciju i/ili prigovor u vezi sa transakcijama izvršenim Platnim instrumentom uputi
                        Powrs-u u pisanoj formi odmah, istog dana po prijemu;
                    </li>
                    <li>
                        da u slučaju statusnih promena, promena vlasničke strukture ili zakonskog zastupnika, obavesti
                        Powrs o nastalim promenama u roku od 3 (tri) radna dana od dana promene, kao i da dostavi
                        dokumentaciju koja se odnosi na ove promene.
                    </li>
                </ul>

                <!-- **** NAPLATA USLUGA TRGOVCA I NAPLATA VAULTER NAKNADA-->
                <br />
                <br />
                <p><strong>NAPLATA USLUGA TRGOVCA I NAPLATA VAULTER NAKNADA</strong></p>
                <p style="text-align: center"><strong>Član 4</strong></p>
                <p>
                    Trgovac ovim daje izričitu saglasnost da se prenos novčanih sredstava ostvarenih prodajom usluga
                    preko Internet portala, na tekući račun Trgovca obavlja preko Institucije, a u skladu sa
                    Instrukcijama za prenos novčanih sredstava, koje Instituciji u ime i za račun Korisnika dostavlja
                    Powrs.
                </p>
                <p>
                    Institucija izvršava jednokratnu platnu transakciju i vrši prenos novčanih sredstava na tekuće
                    račune Primaocima plaćanja sa datumom valute iz Instrukcija za prenos novčanih sredstava, a po
                    ispunjenju sledećih uslova:
                </p>
            </div>

            <!-- ******************* PAGE 5 ******************* -->
            <div class="pagebreak"></div>
            <div>
                <div class="pageHeader">
                    <img src="./Powrs_Logo.png" class="headerLogo" />
                </div>

                <ol>
                    <li>Izvršen prenos novčanih sredstava na namenski račun Institucije.</li>
                    <li>
                        Institucija je preko Powrs-a primila ispravno popunjene Instrukcije Korisnika za prenos novčanih
                        sredstava.
                    </li>
                    <li>Korisnik je dao saglasnost za izvršenje jednokratne platne transakcije.</li>
                    <li>Ne postoje zakonske prepreke za njeno izvršenje.</li>
                </ol>

                <p>
                    Ugovorne strane saglasno konstatuju, da će prilikom naplate usluga Trgovca, od Korisnika biti
                    naplaćivana i naknada za korišćenje servisa internet portala (u daljem tekstu: Vaulter naknada).
                </p>
                <p>Institucija vrši prenos novčanih sredstava:</p>
                <ul>
                    <li>
                        na tekući račun Trgovca u iznosu vrednosti prodate usluge, umanjene za iznos naknade
                        Institucije, u roku od 4 radna dana od dana plaćanja platnom karticom, odnosno u roku od 1
                        radnog dana za plaćanja IPS-om i elektronskim novcem;
                    </li>
                    <li>
                        na tekući račun Powrs u iznosu vrednosti naknade Powrs za korišćenje internet portala, umanjene
                        za iznos naknade Institucije, svakog drugog ponedeljka, za platne transakcije izvršene u
                        prethodne 2 sedmice.
                    </li>
                </ul>

                <p>
                    Naknada Institucije se definiše Ugovorom koji Institucija zaključuje sa svakim pojedinačnim
                    Trgovcem.
                </p>

                <!-- **** REKLAMACIJE I PRIGOVORI-->
                <br />
                <br />
                <p><strong>REKLAMACIJE I PRIGOVORI</strong></p>
                <p style="text-align: center"><strong>Član 5</strong></p>
                <p>
                    Sve reklamacije koje se odnose na pravne ili materijalne nedostatke prodate usluge za koju je
                    plaćanje izvršeno putem Internet portala neće se smatrati reklamacijom u smislu ovoga Ugovora i
                    rešavaće se između Trgovca koji pruža usluge i Korisnika, bez učešća Powrs-a i Institucije.
                </p>
                <p>
                    U slučaju kada je reklamacija na platnu transakciju podneta direktno Powrs-u, Powrs je u obavezi da
                    posreduje u prikupljanju neophodnih informacija i dokumentacije između Trgovca i Institucije, te je
                    u tom smislu, Trgovac u obavezi da u roku od 1 (jednog) radnog dana od dana dostavljanja zahteva
                    Powrs-a, pribavi i dostavi nephodnu dokumentaciju, u cilju prosleđivanja i omogućavanja Instituciji
                    i ostalim učesnicima blagovremeno rešavanje po istoj.
                </p>
                <p>
                    U slučaju kada je reklamacija na platnu transakciju podneta direktno Trgovcu, Trgovac je obavezan da
                    bez odlaganja, dostavi Powrs-u reklamaciju ili prigovor Korisnika koji se odnosi na izvršenje platne
                    transakcije prihvatom Platnog instrumenta, kao i da blagovremeno i ažurno postupa u pogledu
                    dostavljanja informacija i dokumentacije u cilju rešavanja podnete reklamacije.
                </p>
                <p>
                    U slučaju reklamacije i prigovora podnetog od strane Korisnika, druge institucije ili finansijske
                    organizacije na platnu transakciju izvršenu upotrebom Platnog instrumenta na Internet portalu,
                    Trgovac preuzima izričitu obavezu da Powrs-u dostavi relevantna dokumenta (ugovor sa Korisnikom
                    i/ili profakturu i/ili ponudu koja sadrže podatke o ugovorenoj prodaji usluge, fiskalni račun (ako
                    postoji), dokaz da se Kupac saglasio sa uslovima kupovine i uslovima otkazivanja, i/ ili drugu
                    validnu dokumentaciju) u roku od 1 (jednog) radnog dana od dana prijema pisanog zahteva od strane
                    Powrs-a ugovorenim kanalom komunikacije iz Ugovora. U slučaju dostavljanja navedene dokumentacije od
                    strane Trgovca Powrs-u, Powrs će bez odlaganja istu proslediti Instituciji u cilju rešavanja
                    prigovora ili reklamacije.
                </p>
                <p>
                    U slučaju da Trgovac nije obezbedio adekvatan dokaz da se Korisnik saglasio sa uslovima kupovine pre
                    izvršenja jednokratne platne transakcije upotrebom Platnog instrumenta, kao i uslovima eventualnog
                    otkazivanja kupoprodajnog ugovora tj. da se Trgovac i Korisnik nisu u direktnim pregovorima
                    sporazumeli oko nastalog spora, te ukoliko banka izdavalac kartice pokrene arbitražu kod Kartičnog
                    sistema plaćanja, u skladu sa pravlima rada Kartičnih sistema plaćanja, sve troškove reklamirane
                    transakcije, arbitraže, kao i povezane troškove prema Instituciji će snositi Trgovac.
                </p>
            </div>

            <!-- ******************* PAGE 6 ******************* -->
            <div class="pagebreak"></div>
            <div>
                <div class="pageHeader">
                    <img src="./Powrs_Logo.png" class="headerLogo" />
                </div>
                <p>
                    Trgovac je upoznat i saglasan da ukoliko se ne pridržava obaveza iz ovog člana u pogledu postupka
                    reklamacije, Institucija kao pružalac platnih usluga u vezi sa realizacijom plaćanja u skladu sa
                    ovim Ugovorom, ima pravo:
                </p>
                <ul>
                    <li>da izmeni plan plaćanja,</li>
                    <li>
                        da izvrši umanjenje odobrenja za svaku reklamiranu platnu transakciju bez prethodnog slanja
                        obaveštenja o reklamaciji platne transakcije o čemu će Powrs i Trgovac biti obavešteni naknadno
                        kroz redovne izveštaje,
                    </li>
                    <li>da zaustavi svako buduće plaćanje Trgovca koji se ne pridržava obaveza iz ovog člana,</li>
                </ul>

                <br />
                <br />
                <!-- ****  POVRAT NOVČANIH SREDSTAVA NA IME REKLAMACIJE JEDNOKRATNE PLATNE TRANSAKCIJE ****-->
                <p><strong>POVRAT NOVČANIH SREDSTAVA NA IME REKLAMACIJE JEDNOKRATNE PLATNE TRANSAKCIJE</strong></p>
                <p style="text-align: center"><strong>Član 6</strong></p>
                <p>
                    U slučaju ocene da je reklamacija jednokratne platne transakcije opravdana, odnosno da dođe do
                    zaduženja računa Institucije od strane Banke, Institucija obaveštava Powrs, a ovaj dalje Trgovca,
                    koji je u obavezi da izvrši povraćaj novčanih sredstava u skladu sa instrukcijama koje dobije od
                    Powrs-a.
                </p>
                <p>
                    Iznos zaduženja podrazumeva sve troškove reklamirane jednokratne platne transakcije za koje se
                    zadužuje račun Institucije od strane Banke, odnosno koji je Powrs dužan da refundira Instituciji.
                </p>
                <p>
                    Povrat novčanih sredstava se vrši uplatom novčanih sredstava od strane Trgovca na račun Powrs-a kod
                    poslovne banke, a po osnovu obračuna za iznos reklamacije jednokratne platne transakcije ili
                    umanjenjem iznosa budućih prenosa novčanih sredstava od strane Institucije na račun Trgovca.
                </p>
                <p>
                    Trgovac je u obavezi da Powrs-u refundira celokupan iznos vraćenih novčanih sredstava na ime
                    reklamacije jednokratne platne transakcije, koje Institucija naplati od Powrs-a.
                </p>

                <!-- ****  GARANCIJE ****-->
                <br />
                <br />
                <p><strong>GARANCIJE</strong></p>
                <p style="text-align: center"><strong>Član 7</strong></p>
                <p>Trgovac garantuje:</p>
                <ul>
                    <li>
                        da svoje poslovanje obavlja u skladu sa zakonima i drugim relevantnim propisima Republike
                        Srbije;
                    </li>
                    <li>
                        da će sa najvećom pažnjom i odgovornošću pristupiti realizaciji ovog Ugovora i da će sve
                        ugovorne obaveze obavljati stručno, kvalitetno i efikasno;
                    </li>
                    <li>
                        da poseduje stručno znanje i tehničke uslove neophodne za izvršavanje obaveza po ovom Ugovoru;
                    </li>
                    <li>da neće ugrožavati ili prekoračiti autorska ili bilo koja druga prava trećih lica;</li>
                    <li>
                        da pri pružanju usluga Korisnicima neće prekršiti nijedan zakonski propis i da će sve vreme
                        trajanja ovog Ugovora u potpunosti biti usklađen sa regulativom Republike Srbije;
                    </li>
                    <li>
                        da ne postoje činjenice, pitanja, okolnosti niti bilo šta drugo o čemu Trgovac ili njegovi
                        predstavnici imaju saznanje, a što predstavlja bilo kakvo kršenje bilo koje obaveze na osnovu
                        ili u vezi sa ovim Ugovorom;
                    </li>
                    <li>
                        da nije pokrenuo nijedan pravni postupak, niti da je protiv njih pokrenut pravni postupak radi
                        zatvaranja ili reorganizacije ili radi imenovanja stečajnog upravnika, likvidacionog upravnika
                        ili sličnog lica u odnosu na Trgovca ili na deo njegove imovine ili prihoda ili njegovu
                        celokupnu imovinu i prihode;
                    </li>
                </ul>
            </div>

            <!-- ******************* PAGE 7 ******************* -->
            <div class="pagebreak"></div>
            <div>
                <div class="pageHeader">
                    <img src="./Powrs_Logo.png" class="headerLogo" />
                </div>
                <p>Powrs garantuje:</p>
                <ul>
                    <li>da je organizovan i da posluje u skladu sa zakonima Republike Srbije;</li>
                    <li>da ima sva prava i ovlašćenja neophodna za zaključenje ovog ugovora.</li>
                </ul>

                <p style="text-align: center"><strong>Član 8</strong></p>
                <p>
                    Trgovac se obavezuje da nadoknadi Powrs-u svu štetu koja mu bude prouzrokovana od strane Trgovca, a
                    koja je nastala kršenjem garancija Trgovca iz ovog Ugovora ili neizvršenjem bilo koje obaveze koja
                    proizilazi iz ovog Ugovora. Odgovornost se ograničava na stvarnu, direktnu i dokazanu štetu.
                </p>
                <p>
                    Powrs se obavezuje da blagovremeno obavesti Trgovca o svakom odštetnom zahtevu prema Instituciji ili
                    Powrs-u koji se može pripisati neizvršenju bilo koje obaveze Trgovca, koja proizilazi iz ovog
                    Ugovora, u roku od 30 (trideset) dana od dana saznanja za štetu.
                </p>
                <p>
                    Po prijemu obaveštenja , Trgovac će nadoknaditi svu nastalu štetu, uključujući i iznos kazni koje
                    Instituciji ili Powrs-u budu izrečene od strane nadležnih organa (sudskih i/ili regulatornih) u vezi
                    sa obavezama Trgovca koje proizilaze iz ovog Ugovora.
                </p>
                <p>
                    Trgovac se obavezuje da će u slučaju odštetnih zahteva trećih lica dostaviti Powrs-u na njegov
                    zahtev informacije, pomoć i ovlašćenja koja su neophodna za potrebe utvrđivanja nastale štete i
                    rešavanja eventualno nastale sporne situacije.
                </p>

                <!-- ****  PRAVA INTELEKTUALNE SVOJINE ****-->
                <br />
                <br />
                <p><strong>PRAVA INTELEKTUALNE SVOJINE</strong></p>
                <p style="text-align: center"><strong>Član 9</strong></p>
                <p>
                    Ugovorne strane su saglasne da svaka ugovorna strana zadržava pravo vlasništva nad svojom
                    intelektualnom svojinom koju je imala pre zaključenja ovog Ugovora (postojeća svojina), uključujući
                    i patentna prava s njima povezana.
                </p>
                <p>
                    Ni ugovorne strane u Ugovoru ni njihovi eventualni podizvođači ne mogu koristiti niti imati bilo
                    koja prava za korišćenje prava intelektualne svojine druge strane bez prethodne pismene saglasnosti
                    za takvo korišćenje, osim ako nije drugačije dogovoreno u ovom Ugovoru ili u bilo kojem drugom
                    ugovoru.
                </p>
                <p>
                    Bilo kakvo reprodukovanje, menjanje (uključujući prevođenje), distribuiranje ili saopštenje javnosti
                    materijala ili rešenja nad kojim ugovorne strane imaju pravo intelektualne svojine, nije dozvoljeno,
                    osim u svrhu izvršavanja obaveza iz ovog Ugovora i ukoliko drugačije nije izričito ugovoreno ili je
                    u skladu sa zakonodavstvom koje uređuje prava intelektualne svojine.
                </p>
                <p>
                    Sva intelektualna i/ili druga prava vlasništva razvijena ili stečena nakon početka izvršavanja ovog
                    Ugovora, ostaju u vlasništvu strane koja je zakoniti nosilac tih prava.
                </p>

                <!-- ****  POVERLJIVOST PODATAKA ****-->
                <br />
                <br />
                <p><strong>POVERLJIVOST PODATAKA</strong></p>
                <p style="text-align: center"><strong>Član 10</strong></p>
                <p>
                    Zaključenjem ovog Ugovora, ugovorne strane preuzimaju obavezu da neće otkrivati poverljive podatke
                    trećim licima, osim ako takvo postupanje ne nalažu imperativni propisi Republike Srbije.
                </p>
                <p>
                    Pitanje poverljivosti podataka, regulisano je posebnim „NDA“ ugovorom, koji Ugovorne strane
                    potpisuju istovremeno sa ovim Ugovorom.
                </p>
            </div>

            <!-- ******************* PAGE 8 ******************* -->
            <div class="pagebreak"></div>
            <div>
                <div class="pageHeader">
                    <img src="./Powrs_Logo.png" class="headerLogo" />
                </div>

                <!-- **** TRAJANJE I RASKID UGOVORA **** -->
                <p><strong>TRAJANJE I RASKID UGOVORA</strong></p>
                <p style="text-align: center"><strong>Član 11</strong></p>
                <p>
                    Ovaj Ugovor se zaključuje danom potpisivanja Ugovora od strane Ugovornih strana na neodređeno vreme.
                </p>
                <p>Ugovorne strane ugovaraju mogućnost raskida ovog Ugovora, uz otkazni rok od 2 (dva) meseca.</p>
                <p>
                    U slučaju raskida Ugovora, Trgovac je u obavezi da Powrs-u nadoknadi sve troškove koji mogu nastati
                    u periodu trajanja ovog ugovora, kao i nakon raskida Ugovora za transakcije koje su nastale u
                    periodu trajanja Ugovora, a koje je po Ugovoru dužan platiti Trgovac.
                </p>
                <p>Powrs, može jednostrano otkazati Ugovor i bez otkaznog roka u sledećim slučajevima:</p>
                <ol>
                    <li>
                        Ukoliko nastupe okolnosti utvrđene propisima i procedurama o sprečavanju pranja novca i
                        finansiranja terorizma i postupanje u skladu sa međunarodnim sankcijama prema određenim
                        zemljama, pod kojima Institucija ima pravo ili obavezu da raskine poslovni odnos sa Powrs kao
                        što su, između ostalog:
                        <ul>
                            <li>
                                da se utvrdi da se Trgovac nalazi na zvaničnim terorističkim i drugim negativnim
                                listama, u skladu se domaćom i međunarodnom regulativom o sprečavanju pranja novca i
                                finansiranja terorizma;
                            </li>
                            <li>
                                da Trgovac po zahtevu Powrsa, odnosno Institucije u ostavljenom ili razumnom roku ne
                                dostavi podatke o sebi, svojim stvarnim vlasnicima, svom poslovanju, poreklu sredstava
                                ili prirodi/nameni poslovnog odnosa sa Institucijom i/ili transakcije koju obavlja preko
                                Institucije ili druge tražene podatke od strane Institucije.
                            </li>
                        </ul>
                    </li>
                    <li>Ukoliko je račun Trgovca u neprekidnoj blokadi duže od 7 dana.</li>
                    <li>
                        Ukoliko Trgovac koristi Internet portal za promet robe ili usluga koji nije dozvoljen zakonima
                        Republike Srbije, odnosno ukoliko Powrs proceni da isto može da ima negativan reputacioni rizik
                        za Instituciju.
                    </li>
                    <li>Ukoliko Trgovac ne izmiri svoje obaveze po ovom Ugovoru prema Powrs-u.</li>
                    <li>
                        Ukoliko su nastupile ili je izvesno da će nastupiti okolnosti koje mogu negativno uticati na
                        sposobnost Trgovca da uredno izvršava svoje ugovorene obaveze.
                    </li>
                    <li>
                        Ukoliko Trgovac u roku od 3 (tri) dana ne obavesti Powrs o statusnim promenama, promenama
                        vlasničke strukture ili zakonskog zastupnika i dostavi relevatnu statusnu dokumentaciju.
                    </li>
                    <li>Ukoliko ugovorni odnos značajno povećava reputacioni rizik u poslovanju Powrsa.</li>
                    <li>
                        Ukoliko Trgovac ne poštuje svoje zakonske obaveze i/ili ne dostavlja sve podatke vezano za
                        izvršenje jednokratne platne transakcije i/ili podatke neophodne za kontrolu jednokratnih
                        platnih transakcija.
                    </li>
                    <li>
                        Ukoliko nad Trgovcem bude pokrenut postupak stečaja, likvidacije, prinudnog izvršenja ili drugi
                        postupak sa sličnim ishodom, u skladu sa pozitivnim propisima ili ako Trgovac ustupi trećem ili
                        na bilo koji način raspolaže potraživanjima koja ima prema Instituciji po ovom Ugovoru.
                    </li>
                    <li>Ukoliko Trgovac obustavi obavljanje delatnosti ili njen pretežni deo.</li>
                    <li>
                        U skladu sa svojom poslovnom odlukom ukoliko proceni da Trgovac ne ispunjava uslove u pogledu
                        izvršenja platnih transakcija u skladu sa preuzetim obavezama
                    </li>
                    <li>
                        Powrs može raskinuti Ugovor i u slučaju da to naloži nadležni regulatorni državni organ
                        Republike Srbije i u skladu sa tim nalogom.
                    </li>
                </ol>

                <!-- **** REŠAVANJE SPOROVA **** -->
                <br />
                <br />
                <p><strong>REŠAVANJE SPOROVA</strong></p>
                <p style="text-align: center"><strong>Član 12</strong></p>
                <p>
                    Ugovorne strane su saglasne da eventualne nesporazume, koji proisteknu povodom ovog Ugovora,
                    rešavaju mirnim putem, a u suprotnom sporove će rešavati Privredni sud u Beogradu.
                </p>
            </div>

            <!-- ******************* PAGE 9 ******************* -->
            <div class="pagebreak"></div>
            <div>
                <div class="pageHeader">
                    <img src="./Powrs_Logo.png" class="headerLogo" />
                </div>
                <p style="text-align: center"><strong>Član 13</strong></p>
                <p>
                    Sve izmene i dopune Ugovora moraju biti sačinjene isključivo u pisanoj formi i potpisane od strane
                    obe ugovorne strane.
                </p>

                <!-- **** OSTALE ODREDBE UGOVORA **** -->
                <br />
                <br />
                <p><strong>OSTALE ODREDBE UGOVORA</strong></p>
                <p style="text-align: center"><strong>Član 14</strong></p>
                <p>
                    Za sve što nije predviđeno ovim Ugovorom, primenjivaće se odredbe Uslova korišćenja internet portala
                    Vaulter PayLink, Upustvo za korišćenje internet portala Vaulter PayLink, OUP Institucije, i ostali
                    primenjivi propisi Republike Srbije.
                </p>
                <p>
                    Trgovac potvrđuje, potpisom na Ugovoru, da su mu dostavljeni i prilozi koji čine sastavni deo ovog
                    Ugovora, kao i da se upoznao i saglasio sa OUP Institucije i Uslovima korišćenja internet portala,
                    što je osnov uspostavljanja poslovne saradnje i predmet ovog Ugovora.
                </p>

                <p style="text-align: center"><strong>Član 15</strong></p>
                <p>
                    Ovaj Ugovor je sačinjen u 2 (dva) istovetna primerka, od kojih po jedan zadržava svaka ugovorna
                    strana.
                </p>
                <p>
                    Sastavni deo ovog Ugovora čine sledeći Prilozi:<br />
                    <span style="margin-left: 35pt">Prilog 1 - "Uputstvo za korišćenje Vaulter PayLink"</span><br />
                    <span style="margin-left: 35pt">Prilog 2 - "Upitnik za trgovca"</span><br />
                </p>

                <table class="tbl1">
                    <tr>
                        <td style="width: 40%;"><strong>za Powrs</strong></td>
                        <td style="width: 20%;"></td>
                        <td style="width: 40%;"><strong>za Trgovca</strong></td>
                    </tr>
                    <tr style="height: 30pt">
                        <td class="tbl1TD_UnderLine"></td>
                        <td></td>
                        <td class="tbl1TD_UnderLine"></td>
                    </tr>
                    <tr>
                        <td>direktor</td>
                        <td></td>
                        <td>direktor</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="pagebreak"></div>
        {{Attachment1}}
        <div class="pagebreak"></div>
        {{Attachment2}}

    </body>
</html>
