body {
    margin: 10px;
    font-family: Calibri, sans-serif;
}

h1 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 15pt;
}

p {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 13pt;
    margin: 0pt;
    margin-top: 12pt;
}

li {
    font-family: Calibri, sans-serif;
    font-size: 13pt;
}

/*
li {
    display: block;
}

#l1 {
    padding-left: 0pt;
    counter-reset: c1 1;
}

#l1 > li > *:first-child:before {
    counter-increment: c1;
    content: counter(c1, decimal) ". ";
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

#l1 > li:first-child > *:first-child:before {
    counter-increment: c1 0;
}
*/

table,
tbody {
    vertical-align: top;
    overflow: visible;
}

.pagebreak {
    clear: both;
    page-break-after: always;
}

.pageHeader {
    /* margin: 50px; */
    padding: 20px;
    text-align: center;
    overflow: auto;
    padding-top: 25pt;
}

.headerLogo {
    display: inline-block;
    padding-inline: 15px;
    float: right;
}
.headerInfo {
    display: inline-block;
    padding-inline: 15px;
    float: right;
}

.divContainer {
    overflow: auto;
}

.companyDetailsFloatLeft {
    display: inline-block;
    float: left;
}

.companyDetailsFloatRight {
    display: inline-block;
    float: right;
}

/* ***************** UGOVOR ************************ */
.pageContainer {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1400px) {
    .pageContainer {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.tbl1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 35pt;
    font-family: Calibri, sans-serif;
    font-size: 13pt;
}

.tbl1TD_UnderLine {
    border-bottom: 1pt solid black;
}
