<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Vaulter" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Powrs Vaulter</title>
        <meta name="author" content="" />
        <link rel="stylesheet" href="./Powrs_Css.css" />
    </head>
    <body>
        <!-- ******************* PAGE 1 ******************* -->
        <div class="pageContainer">
            <div class="pageHeader">
                <img src="./Powrs_Logo.png" class="headerLogo" />
            </div>

            <!-- **** Ugovorne strane ****  -->
            <div>
                <h1 style="margin-top: 5pt; text-indent: 0pt; text-align: center">
                    Ugovor o korišćenju internet portala
                    <br />
                    "Vaulter PayLink"
                </h1>
                <br />

                <p>
                    Zaključen u Beogradu, na dan <span><u>{{datumZakljucenja}}</u></span
                    >. 2024. godine, između sledećih ugovornih strana:
                </p>

                <p>
                    1. <strong>POWRS D.O.O. BEOGRAD</strong>, Beograd, Balkanska 2, MB: 21761818, PIB: 112890694 koga
                    zastupa: Mijat Ivović, direktor (u daljem tekstu: "Powrs")
                </p>
                <p>i</p>
                <p>
                    2. <u>{{CompanyName}}</u>, <u>{{CompanyAddress}}</u>, Republika Srbija, MB: <u>{{CompanyMB}}</u>,
                    PIB: <u>{{CompanyPIB}}</u>, koga zastupa <u>{{CompanyRepresenter}}</u>, direktor (u daljem tekstu:
                    Trgovac)
                </p>
                <p>(u daljem tekstu: Ugovorne strane)</p>
            </div>

            <!-- *** POJMOVI **** -->
            <div>
                <p><strong>POJMOVI:</strong></p>
                <p>
                    <strong>Internet portal</strong> je internet portal "Vaulter PayLink" putem koga Powrs, kao pružalac
                    usluga informacionog društva u smislu zakona kojim se uređuje elektronska trgovina, omogućava svojim
                    klijentima - Trgovcima povezivanje sa korisnicima Trgovačkih usluga i plaćanje za usluge Trgovca
                    upptrebom Platnih instrumenata putem linka za plaćanje.
                </p>

                <p>
                    <strong>Powrs</strong> je pružalac usluga informacionog društva - vlasnik internet portala koji
                    zaključuje ugovore sa Trgovcima, a kojima pruža uslugu korišćenja internet portala, i koji kao
                    registrovani zastupnik Institucije na osnovu Rešenja Narodne banke Srbije br. G.br.7960 od
                    25.07.2023. godine, omogućava pružanje usluge prenosa novčanih sredstava putem Linka za plaćanje,
                    koji Powrs obezbedjuje Trgovcima.
                </p>

                <p>
                    <strong>Link za plaćanje</strong> je link koji Powrs dostavlja Trgovcu putem internet portala, a
                    Trgovac dostavlja Korisniku putem email-a radi izvršenja plaćanja Platnim instrumentima. Prilikom
                    pristupa Linku za plaćanje, platilac će dobiti sledeće informacije: rezime usluga/stavki koje
                    kupuje, cenu tih usluga/stavki, naknadu na Vaulter uslugu, ukupnu cenu koju treba da plati, Uslove
                    korišćenja i opcije/načine plaćanja.
                </p>

                <p>
                    <strong>Trgovac</strong> je pravno lice ili preduzetnik koje sa Powrs zaključuje ugovor u vezi sa
                    korišćenjem Internet portala u cilju naplate usluga Trgovca preko Internet portala, a koji, takođe,
                    zaključuje ugovor sa Institucijom na osnovu koga Institucija omogućava prihvat platnih instrumenata
                    na Internet portalu. Trgovac daje saglasnost da se prenos novčanih sredstava po osnovu realizacije
                    plaćanja prihvatom Platnog instrumenta na Linku za plaćanje realizuje preko Institucije,
                    potpisivanjem ugovora sa Powrs-om i ugovora sa Institucijom.
                </p>

                <p>
                    <strong>Institucija elektronskog novca Payspot doo Novi Sad</strong> (u daljem tekstu: Institucija)
                    je Institucija elektronskog novca sa sedištem u Republici Srbiji, ovlašćena za pružanje platnih
                    usluga i izdavanje elektronskog novca na osnovu rešenja Narodne banke Srbije br. 4. od 9.2.
                    2023.godine.
                </p>

                <p>
                    <strong>Instrukcije za prenos novčanih sredstava</strong> predstavljaju instrukcije koje Powrs
                    dostavlja Instituciji u cilju prenosa novčanih sredstava sa namenskog računa Institucije na tekući
                    račun Trgovca, a u skladu sa Nalogom Korisnika za izvršenje jednokratne platne transakcije.
                </p>

                <p>
                    <strong>Korisnik</strong> je platilac, fizičko lice koje daje nalog za izvršenje jednokratne platne
                    transakcije u cilju kupovine usluge Trgovca na Internet portalu. Korisnik je korisnik platne usluge
                    Institucije po osnovu Ugovora o jednokratnoj platnoj transakciji koji se zaključuje između
                    Institucije i Korisnika na Internet portalu davanjem saglasnosti za izvršenje jednokratne platne
                    transakcije uspešnom upotrebom Platnog instrumenta. Korisnik ne plaća naknadu Instituciji za
                    izvršenje jednokratne platne transakcije.
                </p>
            </div>
        </div>

        <!-- ******************* PAGE 2 ******************* -->
        <div class="pagebreak"></div>
        <div class="pageContainer">
            <div class="pageHeader">
                <img src="./Powrs_Logo.png" class="headerLogo" />
            </div>

            <div>
                <p>
                    <strong>Platni instrumenti</strong> su platna kartica, elektronski novac Institucije i IPS plaćanje.
                </p>

                <p>
                    <strong>Platna kartica</strong> (koju koristi Korisnik) je platni instrument u obliku fizičke ili
                    elektronske kartice koja se koristi za iniciranje platne transakcije
                </p>

                <p>
                    <strong>IPS plaćanje</strong> je bezgotovinsko plaćanje na internet prodajnom mestu koje se obavlja
                    metodom IPS SKENIRAJ, korišćenjem aplikacije mobilnog bankarstva na mobilnom telefonu Korisnika.
                </p>

                <p>
                    <strong>Elektronski novac</strong> Institucije označava elektronski novac koji je pohranjen na
                    Vaučeru ili Platnoj kartici a koji izdaje Institucija.
                </p>

                <p>
                    <strong>Kartična transakcija</strong> je platna transakcija koja se inicira i izvršava na osnovu
                    korišćenja Platne kartice na Internet portalu, u skladu sa poslovnim pravilima Kartičarskih sistema
                    plaćanja i korišćenjem infrastrukture tih sistema, a koja se ne smatra transferom odobrenja ili
                    direktnim zaduženjem. U ovom poslovnom modelu podrazumeva se bezgotovinski prenos sredstava sa
                    platne kartice Korisnika na namenski račun Institucije preko Banke, sa ciljem izvršenja jednokratne
                    platne transakcije.
                </p>

                <p>
                    <strong>Jednokratna platna transakcija</strong> je platna transakcija prenosa novčanih sredstava,
                    nastala upotrebom Platnih instrumenata od strane Korisnika, koju vrši Institucija po Nalogu
                    Korisnika, a prema Instrukcijama za prenos novčanih sredstava dobijenim od strane Powrs na tekuće
                    račune Primalaca plaćanja kod poslovnih banaka.
                </p>

                <p>
                    <strong>Nalog Korisnika</strong> za izvršenje jednokratne platne transakcije predstavlja platni
                    nalog za izvršenje jednokratne platne transakcije, za čije izvršenje Korisnik daje saglasnost
                    upotrebom Platnog instrumenta na internet portalu, a na osnovu čega Powrs, u ime i za račun
                    Korisnika, dostavlja Instituciji Instrukcije za prenos novčanih sredstava koje sadrže sve podatke
                    potrebne za izvršenje jednokratne platne transakcije, u skladu sa saglasnošću Korisnika, Uslovima
                    korišćenja internet portala, odnosno uslovima zaključenja Ugovora o jednokratnoj platnoj transakciji
                    i izvršenja jednokratne platne transakcije.
                </p>

                <p>
                    <strong>Primaoci plaćanja</strong> su Trgovac na osnovu prodaje svojih usluga i Powrs na osnovu
                    provizije za omogućavanje korišćenja internet portala.
                </p>

                <p>
                    <strong>Izvršenje jednokratnih platnih transakcija</strong> od strane Institucije podrazumeva usluge
                    prijema i daljeg prenosa novčanih sredstava sa namenskog računa Institucije na tekuće račune
                    Primaoca plaćanja.
                </p>

                <p>
                    <strong>Banka</strong> je OTP Banka Srbija a.d. Novi Sad, koja je zaključila Ugovor sa Institucijom
                    o prihvatanju platnih transakcija po osnovu upotrebe platne kartice i na osnovu koga se sredstva
                    prenose na namenski račun Institucije.
                </p>

                <p>
                    <strong>Namenski račun Institucije</strong> je poseban namenski račun Institucije za zaštitu
                    sredstava korisnika finansijskih usluga otvorenih kod Banke i koji je izuzet od prinudne naplate.
                </p>

                <p>
                    <strong>Uslovi korišćenja internet portala</strong> je dokument objavljen na internet portalu koji
                    definiše prava i obaveze Powrsa, Trgovca, Korisnika i Institucije, koji predstavljaju sastavni deo
                    ovog Ugovora.
                </p>

                <p>
                    <strong>Preduslov korišćenja internet portala</strong> je zaključivanje ovog ugovora, registracija
                    Trgovca na internet portalu, kao i prihvatanje Uslova korišćenja internet portala od strane Trgovca.
                </p>
            </div>
        </div>

        <!-- ******************* PAGE 3 UGOVOR ******************* -->
        <div class="pagebreak"></div>
        <div class="pageContainer">
            <div class="pageHeader">
                <img src="./Powrs_Logo.png" class="headerLogo" />
            </div>

            <!-- **** PREDMET UGOVORA **** -->
            <div>
                <p><strong>PREDMET UGOVORA</strong></p>
            </div>
        </div>
    </body>
</html>
