.floatLeft {
    float: left;
    padding-right: 5pt;
}

.floatRight {
    float: right;
    padding-left: 5pt;
}

.redovi{
    overflow: auto;
}
.prvi,
.drugi,
.prviDeo,
.drugiDeo{
    width: 49%;
    display: inline-block !important;
}

.pageContainer {
    width: 95%;
    margin-inline: auto;

}

p {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
    margin: 0.5pt;
}

.title1{
    font-size: 20pt;
    display: flex;
    justify-content: center !important;
    font-weight: bold ;
}

.subtitle{
    display: flex;
    justify-content: center !important;
    font-weight: bold ;
}

.subtitle1{
    font-weight: bold ;
    margin-top: 10pt;
    margin-bottom:10pt;
}

.green{
    color: #87A96B;
}

.red{
    color:#E32636 ;
}