<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Vaulter" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>PaySpot</title>
        <meta name="author" content="" />
        <link rel="stylesheet" href="./PowrsAttachment2_Css.css" />
    </head>
    <body>
        <!-- ******************* PAGE 1 UGOVOR ******************* -->
        <div class="pageContainer">
            <p class="title1">Upitnik za trgovca</p>
            <div class="subtitle">(KYB Onboarding)</div>
            <p class="subtitle1">ZAHTEV ZA USPOSTAVLJANJE POSLOVNE SARADNJE</p>
            <div class="redovi">
                <div class="prvi floatLeft">
                    <p class="green">1. Pun naziv podnosioca zahtev</p>
                    <p class="green">2. Skraćeni naziv</p>
                    <p class="green">3. Mesto, sedište i adresa</p>
                    <p class="green">4. Matični bro</p>
                    <p class="green">5. PIB</p>
                    <p class="green">6. Šifra pretežne delatnosti</p>
                    <p class="green">7. Da li se pored pretežne delatnosti preduzeće</p>
                    <p class="green">8. Ovlašćeno lice za zastupanje</p>
                    <p class="green">9. Ime, prezime i datum rođenja</p>
                    <p>10. Vrsta ličnog dokumenta i broj</p>
                    <p>11. Datum i mesto izdavanja ličnog dokumenta</p>
                    <p>12. Da li ima više ovlašćenih lica za zastupanje?</p>
                    <p>13. Kontakt osobe</p>
                    <p>14. Broj telefona (fiksni/ mobilni)</p>
                    <p>15. Email adresa</p>
                    <p class="green">16. Web adresa</p>
                    <p class="green">17. Svrha i namena uspostavljanja poslovnog odnosa (ovde uvek pišemo ostalo)</p>
                    <p class="green">
                        18. Opisati oblast poslovanja zbog koje se uspostavlja saradnja (ovde uvek pišemo Korišćenje
                        servisa Vaulter Paylink Generator i izvršenje platne transakcije)
                    </p>
                    <p>19. Navedite region/ zemlje gde obavljate svoje poslovanje</p>
                    <p>20. Navesti očekivani promet u RSD (mesečno)</p>
                    <p>
                        21. U svom poslovanju u skladu sa odlukama nadležnih organa kojim je regulisana upotreba pečata,
                        podnosioc zahteva (u padajućem meniju se bira opcija koristi pečat / ne koristi pečat)
                    </p>
                    <p>
                        22. Lica koja se javljaju u vlasničkoj strukturi (padajući meni sa opcijama fizicka lica /
                        pravna lica / fizička i pravna lica) Ukoliko izaberu opciju koja sadrži pravno lice potrebno je
                        da popune podatke stvarnog vlasnika (ime i prezime, adresa i mesto prebivališta, datum rođenja,
                        državljanstvo, vlasnički udeo u procentima i funkcija)
                    </p>
                </div>
                <div class="drugi floatRight">
                    <p>
                        23. Da li je fizičko lice, stvarni vlasnik podnosioca zahteva (direktno ili indirektno preko
                        drugog pravnog lica) i/ili zakonski zastupnik, i/ili prokurista i/ili punomoćnik podnosioca
                        zahteva, funkcioner/član uže porodice funkcionera/uži saradnik funkcionera?
                    </p>
                    <p>
                        24. Da li u vlasničkoj strukturi klijenta postoji pravno lica registrovano na offshore
                        destinaciji, fondacija ili Trast
                    </p>
                    <p>25. Ukoliko je pravno lica listira</p>
                    <p>26. Kontakt osoba (e-commerce)</p>
                    <p>27. Broj telefona kontakt osobe (e-commerce)</p>
                    <p>28. Email adresa kontakt osobe (e-commerce)</p>
                    <p>29. Navesti internet adresu prodajnog mesta (URL)</p>
                    <p>30. Navesti naziv banke kod koje imate tekući račun</p>
                    <p>31. Navesti broj tekućeg računa kod poslovne banke</p>
                    <p>32. Da li klijent poseduje maloprodajne objekte / njihov broj</p>
                    <p>33. Koliko korisnika vaših usluga su stranci? (%)</p>
                    <p>34. Prosečan iznos transakcije na internetu (RSD)</p>
                    <p>35. Prosečan dnevni promet na internetu (RSD)</p>
                    <p>36. Ukupan promet preko računa u poslednja 3 meseca (RSD)</p>
                    <p>37. Učešće kartičnog plaćanja u ukupnom prometu</p>
                    <p>38. Opis robe koja će se prodavati putem interneta</p>
                    <p>39. Način dostave robe kupcima</p>
                    <p>40. Očekivani promet za narednu godinu (RSD)</p>
                    <p>41. Iznos najjeftinijeg artikla/robe/usluge (RSD)</p>
                    <p>42. Iznos najskupljeg artikla/robe /usluge (RSD)</p>
                    <p>43. Da li prodajete robu sa odloženim rokom isporuke?</p>
                    <p>44. Broj dana od trenutka plaćanja do trenutka isporuke robe</p>
                    <p>45. Da li ste imali reklamacije korisnika?</p>
                    <p>46. Broj reklamacija mesečno / godišnje</p>
                    <p>47. Opišite ukratko svoj poslovni model</p>
                    <p>48. Da li ste poreski obveznik?</p>
                </div>
            </div>
            <div class="funcioner">
                <p class="subtitle1">IZJAVA ZA IDENTIFIKOVANJE FUNKCIONERA</p>
                <div>
                    (popunjavaju stvarni vlasnici, zakonski zastupnici i svako lice koje ima više od 25% udela u
                    vlasničkoj strukturi)
                </div>
                <p>
                    Pitanja koja se ponavljaju u odnosu na „Zahtev za uspostavljanje poslovne saradnje“ su označena
                    crvenom bojom
                </p>
                <div class="crvena">
                    <div class="prviDeo floatLeft">
                        <p class="red">49. Ime i prezime</p>
                        <p>50. JMBG</p>
                        <p>51. Datum i mesto rođenja</p>
                        <p>52. Adresa prebivališta ili boravišta</p>
                    </div>
                    <div class="drugiDeo floatRight">
                        <p>53. Grad prebivališta ili boravišta</p>
                        <p class="red">54. Vrsta i broj ličnog dokumenta</p>
                        <p class="red">55. Datum i mesto izdavanja</p>
                        <p>56. Naziv Izdavaoca</p>
                    </div>
                </div>
                <p>Oba dokumenta je potrebno da klijent potpiše i pečatira ukoliko koriste pečat.
                </p>
            </div>
        </div>
    </body>
</html>
