body {
    margin: 50pt;
    font-family: Calibri, sans-serif;
    text-align: justify;
    padding: 10pt;
}

p {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
    margin: 0pt;
    margin-top: 12pt;
    /* margin-bottom: 12pt; */
}
div {
    font-size: 9pt;
}

.pageContainer {
    /* width: 50%; */
    margin-inline: auto;
}

/* **************GRADIENT LINE***********   */

/* .gradient-line {
    height: 10pt;
    background: linear-gradient(to right, #005aa7, #00bfff, #005aa7);
    /* margin: 10px 0; */



/* **************END***********   */

.line {
    /* width: 230pt; */
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-bottom-color: black;

}
.line2 {
    width: 230pt;
    border-top-style: solid;
    border-top-width: 1pt;
    border-top-color: black;
    margin-top: 57pt !important;
}


.line {
    width: 230pt;
    /* border-bottom-style: solid; */
    border-bottom-width: 1pt;
    border-bottom-color: black;
    margin-top: 20pt;
}


/*************  prvi checkbox    ************/

.sectionText{
    text-align: left;
    overflow: auto;
}

.section {
    display: inline-block;
    /* width: 30%; */
}
.section1 {
    width: 70%;
    display: inline-block;
}
/************** END *********/
 

/************** containerText *********/

.containerText{
    overflow: auto;
}

.container {
    width: 49%;
    display: inline-block;
}

/************** END *********/



.floatLeft {
    float: left;
    padding-right: 5pt;
}

.floatRight {
    float: right;
    padding-left: 5pt;
}

/****************       HEADER          ************/

.pageHeader{
    /* padding: 20px; */
    /* text-align: left; */
    overflow: auto;
    /* padding-top: 25pt; */
    margin-bottom: 5pt;


}

.headerLogo{
    display: inline-block;
    width: 50pt;
    vertical-align: top;
}

.headerTitle{
    display: inline-block;
 padding-top: 8pt;
    width: 90%;
   
}

/****************     END       *************/



/****************     FUNKCIONERI      *************/

.funcioneriTekst{

    overflow: auto;

}

.checkbox1{
    display: inline-block;
    /* width: 80%; */
}
.checkbox2{
    display: inline-block;
    width: 20%;
}



.yesNo{
    display: inline-block;
}

/****************     END       *************/



/****************     TABELA       *************/


 .tbl1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    margin-top: 10pt;
    font-family: Calibri, sans-serif;
    font-size: 9pt;
    border-collapse: separate;
    border-spacing: 3pt;
} 



.tbl1TD_Underline {
    width: 230pt;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-bottom-color: #808080;
}

/****************     END       *************/


/****************   DATUM I POTPIS   *************/

.dateAndSignature{
    overflow: auto;

}

.date {
    /* width: 50%; */
    display: inline-block;
}

.date1{
    /* width: 50%; */
    display: inline-block;
    padding-top:36pt
}

/****************     END       *************/

.nasledstvoZarada{
    display: inline-block;
}

.nasledstvo
.zarada,
.stednja,
.penzija{
    display: inline-block;
}


.penzija,
.zarada{
    margin-left: 5pt;
}

