
        <!-- *************** PaySpot Attachment2 ***************-->
        <img src="./PayspotAttachment2_Page01.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page02.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page03.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page04.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page05.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page06.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page07.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page08.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page09.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page10.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page11.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page12.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page13.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page14.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page15.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page16.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page17.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page18.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page19.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page20.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page21.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
        <div class="pagebreak"></div><img src="./PayspotAttachment2_Page22.png" style="margin-left: -90pt; margin-top: -60pt;" width="1670pt" />
       