.pageContainerAttachment1 h1 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

.pageContainerAttachment1 p {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
    margin: 0pt;
}

.s3 {
    color: #fff;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

.s4 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

.s5 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
}

.s6 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
}

.s7 {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

.s8 {
    color: #fff;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s9 {
    color: black;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s10 {
    color: black;
    font-family: "Microsoft Sans Serif", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}


li {
    display: block;
}

#l1 {
    padding-left: 0pt;
    counter-reset: c1 1;
}

#l1 > li > *:first-child:before {
    counter-increment: c1;
    content: counter(c1, decimal) ". ";
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 12pt;
}

#l1 > li:first-child > *:first-child:before {
    counter-increment: c1 0;
}

#l2 {
    padding-left: 0pt;
}

#l2 > li > *:first-child:before {
    content: " ";
    color: black;
    font-family: Symbol, serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 12pt;
}

#v1 {
    border-top-style: solid;
    border-top-width: 1pt;
    border-left-style: solid;
    border-left-width: 1pt;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-right-style: solid;
    border-right-width: 1pt;
}

#v2 {
    border-top-style: solid;
    border-top-width: 1pt;
    border-top-color: #c8c8c8;
    border-left-style: solid;
    border-left-width: 1pt;
    border-left-color: #c8c8c8;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-bottom-color: #c8c8c8;
    border-right-style: solid;
    border-right-width: 1pt;
    border-right-color: #c8c8c8;
}

.v3 {
    padding-left: 5pt;
    text-indent: 0pt;
    line-height: 12pt;
    text-align: left;
}

.v4 {
    padding-left: 5pt;
    text-indent: 0pt;
    line-height: 11pt;
    text-align: left;
}

table,
tbody {
    vertical-align: top;
    overflow: visible;
}

.pagebreak {
    clear: both;
    page-break-after: always;
}

.pageHeaderAttachment1 {
    /* margin: 50px; */
    padding: 20px;
    text-align: center;
    overflow: auto;
    padding-top: 25pt;
}

.headerLogoAttachment1 {
    display: inline-block;
    padding-inline: 15px;
    float: left;
}
.headerInfoAttachment1 {
    display: inline-block;
    padding-inline: 15px;
    float: right;
}

.pageContainerAttachment1 {
    width: 840pt;
    margin-inline: auto;
}

@media (max-width: 1400px) {
    .pageContainerAttachment1 {
        width: 840pt;
    }
}

.divContainer {
    overflow: auto;
}

.companyDetailsFloatLeft {
    display: inline-block;
    float: left;
}

.companyDetailsFloatRight {
    display: inline-block;
    float: right;
}

.tbl1TR {
    height: 19pt;
}

.tbl1TD {
    width: 65pt;
}

.tbl1TD_Underline {
    width: 250pt;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-bottom-color: #808080;
}

.tbl1TD_paragraphHeader {
    color: black;
    font-family: Calibri, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
    padding-top: 3pt;
    padding-right: 4pt;
    text-indent: 0pt;
    text-align: right;
}

.tbl2 {
    border-collapse: collapse;
    margin-inline: auto;
    margin-top: 25pt;
    width: 100%;
}

.tbl2 td {
    border: 1pt solid #c8c8c8;
}

.tbl3 {
    border-collapse: collapse;
    margin-inline: auto;
    margin-top: 25pt;
    width: 100%;
}

.tbl3 td {
    border: 1pt solid black;
}

.tbl4 {
    border-collapse: collapse;
    margin-inline: auto;
    margin-top: 25pt;
    width: 100%;
    text-align: center;
}

.tbl4TD_wide {
    width: 40% !important;
}

.tbl4TD_narrowly {
    width: 20% !important;
}


