<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[		
		try 
		(
			CREATE INDEX
			NeuroFeatureTokensCreatorIndex
			ON
				NeuroFeatureTokens
			(
			 Creator
			)
		)
		catch
		(
			Log.Error(Exception.Message, null);
		);

              ]]>
	</StartupScript>
</ServiceConfiguration>