<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
			try
			(
				CREATE INDEX
					LanguageNamespaceIndex
				ON
					LanguageNamespaces
				(
					Name
				)
			)
			catch
			(
				Log.Error("Error while creting index 'LanguageNamespaceIndex': " + Exception.Message, "LanguageNamespaceIndex", "", "CreateIndices.config", null);
			);
			
			try 
			(
				CREATE INDEX
					NeuroFeatureCreatorJidCreatedIndex
				ON
					NeuroFeatureTokens
				(
					CreatorJid,
					Created desc
				)
			)
			catch
			(
				Log.Error("Error while creting index 'NeuroFeatureCreatorJidCreatedIndex': " + Exception.Message, "NeuroFeatureCreatorJidCreatedIndex", "", "CreateIndices.config", null);
			);
			
			try 
			(
				CREATE INDEX
					NeuroFeatureCreationContractNewIndex
				ON
					NeuroFeatureTokens
				(
					CreationContract
				)
			)
			catch
			(
				Log.Error("Error while creting index 'NeuroFeatureOwnershipContract': " + Exception.Message, "NeuroFeatureOwnershipContract", "", "CreateIndices.config", null);
			);
		
			try
			(
				CREATE INDEX
					StateMachineCurrentStatesStateMachineId
				ON
					StateMachineCurrentStates
				(
					StateMachineId
				)
			)
			catch
			(
				Log.Error("Error while creting index 'StateMachineCurrentStatesStateMachineId': " + Exception.Message, "StateMachineCurrentStatesStateMachineId", "", "CreateIndices.config", null);
			);
			
			try
			(
				
				CREATE INDEX
					GeneralCompanyInformationsCreated
				ON 
					GeneralCompanyInformations
				(
					Created
				)

			)
			catch
			(
				Log.Error("Error while creting index 'GeneralCompanyInformationsCreated': " + Exception.Message, "GeneralCompanyInformationsCreated", "", "CreateIndices.config", null);
			);
        ]]>
	</StartupScript>
</ServiceConfiguration>