<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
			Global.["EncodeContractId"]:= (EncodeContractId(contractId):= 
            (
				bytesToEncode:= System.Text.Encoding.UTF8.GetBytes(contractId);
				System.Convert.ToBase64String(bytesToEncode);
            ););
			
			Global.["DecodeContractId"]:= (DecodeContractId(encodedContractId):= 
            (
				bytesToDecode:= Convert.FromBase64String(encodedContractId);
				System.Text.Encoding.UTF8.GetString(bytesToDecode);
            ););
              ]]>
	</StartupScript>
</ServiceConfiguration>
