<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
			  Global.["GetTokenCreatorJid"]:= (GetTokenCreatorJid(TokenId):= 
			  (
					creatorJid:= select top 1 CreatorJid from IoTBroker.NeuroFeatures.Token t where t.TokenId = TokenId;
					username := null;
					username := null;
					orgName := null;
					email := null;
					
					if(creatorJid == null) then
					(
						Error("Token does not exists");
					);

					username := Before(creatorJid,'@');
					brokerAccRole := Select top 1 * from POWRS.PaymentLink.Models.BrokerAccountRole where UserName = username;
					
					if(brokerAccRole != null) then (
						orgName := brokerAccRole.OrgName;
						email:= select top 1 Email from POWRS.PaymentLink.Models.OrganizationContactInformation where OrganizationName = orgName
					);
										
					{
						"CreatorJid" :creatorJid,
						"Account": username,
						"OrgName" : orgName,
						"OrgEmail" : email
					}
			  ););
              ]]>
	</StartupScript>
</ServiceConfiguration>
