<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
			  Global.["GetTokenVariables"]:= (GetTokenVariables(TokenId, ExpectedStates, isFromMobile):= 
			  (
					token:= select top 1 * from IoTBroker.NeuroFeatures.Token t where t.TokenId = TokenId;
					if(token == null) then
					(
						Error("Token does not exists");
					);

					currentState:= token.GetCurrentStateVariables();
					
					if(ExpectedStates != null and ExpectedStates.Length > 0 and currentState.State not in ExpectedStates) then 
					(
						Error("Token in not expected state. State: " + currentState.State);
					);
					
					contractVariables:= Create(System.Collections.Generic.Dictionary, Waher.Persistence.CaseInsensitiveString, System.Object);
					foreach var in currentState.VariableValues do
					(
						contractVariables[var.Name]:= var.Value;
					);
					
					if(!exists(contractVariables["Message"])) then 
					(
						contractVariables["Message"]:= "Vaulter";
					);
					
					contractVariables["RequestFromMobilePhone"]:= isFromMobile;
					
					{
						"State": currentState.State,
						"Owner": token.Owner,
						"Variables": contractVariables
					}
			  ););
              ]]>
	</StartupScript>
</ServiceConfiguration>
