<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
			Global.["GetUsersForOrganization"]:= (GetUsersForOrganization(organizationList):= 
			(
				try
				(
					if(organizationList != "")then
					(
						organizationListArray := Split(organizationList, ",");
						brokerAccs :=
							join([foreach org in organizationListArray do (
								if(Trim(org) != "")then
								(
									accounts:= Select (UserName + "@" + Gateway.Domain)
									from POWRS.PaymentLink.Models.BrokerAccountRole
									where OrgName = Trim(org);
								)								
							)]);
					)
					else
					(
						brokerAccs := [];
					);					
				)
				catch
				(
					brokerAccs := [];
				);	    
			););
            ]]>
	</StartupScript>
</ServiceConfiguration>