<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
			Global.["GetUsersForOrganization"]:= (GetUsersForOrganization(organizationList):= 
			(
				try
				(
					if(organizationList != "")then
					(
						organizationListArray := Split(organizationList, ",");
						listBrokerAcc :=
							Select (UserName + "@" + Gateway.Domain)
							from POWRS.PaymentLink.Models.BrokerAccountRole
							where OrgName in (organizationListArray);
					)
					else
					(
						organizationListArray := [];
					);					
				)
				catch
				(
					Log.Error(Exception.Message, "", "", "GetAgentSuccessfullTransactions.config", null);
					Error(Exception.Message);
				);	    
			););
            ]]>
	</StartupScript>
</ServiceConfiguration>