<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
			Global.["GetUserHierarchy"]:= (GetUserHierarchy(userName):= 
			(
				try
				(
					objBrokerAccountRole := 
						select top 1 * 
						from POWRS.PaymentLink.Models.BrokerAccountRole 
						where UserName = userName;
						
					if(objBrokerAccountRole == null) then
					(
						Error("User is not part of hierarchy.");
					);
					
					if(objBrokerAccountRole.Role == POWRS.PaymentLink.Models.AccountRole.ClientAdmin) then 
					(
						listBrokerAcc :=
							Select (UserName + "@" + Gateway.Domain)
							from POWRS.PaymentLink.Models.BrokerAccountRole
							where OrgName = objBrokerAccountRole.OrgName;
					)
					else 
					(
						(userName + "@" + Gateway.Domain);
					);
				)
				catch
				(
					Log.Error(Exception.Message, null);
					Error(Exception.Message);
				);	    
			););
            ]]>
	</StartupScript>
</ServiceConfiguration>