<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
			Global.["GetUsersForOrganization"]:= (GetUsersForOrganization(organizationList):= 
			(
				try
				(
					if(organizationList != "")then
					(
						organizationListArray := Split(organizationList, ",");
						brokerAccs :=
							join([foreach org in organizationListArray do (
								accounts:= Select (UserName + "@" + Gateway.Domain)
								from POWRS.PaymentLink.Models.BrokerAccountRole
								where OrgName = Trim(org) and OrgName != ""
							)]);
					)
					else
					(
						brokerAccs := [];
					);					
				)
				catch
				(
					Log.Error(Exception.Message, "", "", "GetUsersForOrganization.config", null);
					Error(Exception.Message);
				);	    
			););
            ]]>
	</StartupScript>
</ServiceConfiguration>