<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
             <![CDATA[
			  Global.["SendBuyerTimeZoneToToken"]:= (SendBuyerTimeZoneToToken(endpoint, timeZoneOffset, tokenId):= 
				(
					localIpInfo:= IpLocale(endpoint);
					state:= "";
					if(exists(localIpInfo.Country) and exists(localIpInfo.City)) then 
					(
						state:= localIpInfo.Country + "/" + localIpInfo.City;
					);

					POWRS.PaymentLink.TimeZone.NotifyTimeZoneDifference(timeZoneOffset, state, tokenId);
				););
              ]]>
	</StartupScript>
</ServiceConfiguration>
