<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
             <![CDATA[
			  Global.["ValidatePayoutJWT"]:= (ValidatePayoutJWT():= 
			  (
			   try
			   (
					if(Request == null) then 
					(
					  Error("Request could not be null");
					);					
					
					header:= null;
					Request.Header.TryGetHeaderField("Authorization", header);
		    		SessionToken:= ValidateJwt(Replace(header.Value, "Bearer ", ""));
					
					requestEndPoint:= Split(Str(Request.RemoteEndPoint), ":")[0];
					claimsEndpoint:= Split(SessionToken.Claims.ip, ":")[0];

					if(requestEndPoint != claimsEndpoint) then
					(
						Error("Forbidden");
					);
					
					Return(SessionToken.Claims);
			   )
			   catch
			   (
			      Log.Error(Exception, null);
				  Forbidden("Session token expired or not valid");
			   );				
			  ););
              ]]>
	</StartupScript>
</ServiceConfiguration>
