<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
			Global.["ValidateSmartAdminApiToken"]:= (ValidateSmartAdminApiToken():= 
            (
				if(Response != null) then 
				(
					Response.SetHeader("Access-Control-Allow-Origin","*");
				);

				if(Request == null) then 
				(
					HttpError(401, "Unauthorized", "Request not valid.");
				);

				jwtFactory:= null;
				reason:= null;
				
				if(!exists(PJwt:= Request.Header.Authorization.Value)) then 
				(
					HttpError(401, "Unauthorized", "JWT not present.");
				);
				
				PJwt:= Trim(PJwt.Replace("Bearer ", ""));
				Waher.Runtime.Inventory.Types.TryGetModuleParameter("JWT", jwtFactory);
				if(jwtFactory == null) then
				(
					InternalServerError("Unable to initiate jwt validation.");
				);

				try 
				(
					Token:=Create(Waher.Security.JWT.JwtToken, PJwt);
				)
				catch
				(
					HttpError(401, "Unauthorized", "Token not valid"); 
				);
				
				if(!jwtFactory.IsValid(Token, reason)) then
				(
					HttpError(401, "Unauthorized", "Token " + reason);
				);

				array:= Split(Token.Claims.sub, "@");
				if(array.Length != 2) then 
				(
					HttpError(401, "Unauthorized", "Invalid token");
				);

				username:= Trim(array[0]);
				userDomain:= Trim(array[1]);
				gatewayDomain:= Trim(Gateway.Domain);

				if(System.String.IsNullOrWhiteSpace(username) || System.String.IsNullOrWhiteSpace(userDomain)) then
				(
					HttpError(401, "Unauthorized", "Invalid token");
				);

				brokerAcc := select top 1 * from BrokerAccounts where UserName = username and Enabled = true;
				if(brokerAcc == null) then
				(
					HttpError(401, "Unauthorized", "User don't have right to access");
				);
				
				brokerAccRole := Select top 1 * from POWRS.PaymentLink.Models.BrokerAccountRole where UserName = username;
				if(brokerAccRole == null) then 
				(
					HttpError(401, "Unauthorized", "Users information are not existed or not propertly populated");
				);
				
				orgName := brokerAccRole.OrgName;
				role := brokerAccRole.Role;
				
				if(role != POWRS.PaymentLink.Models.AccountRole.SuperAdmin and role != POWRS.PaymentLink.Models.AccountRole.GroupAdmin) then
				(
					Forbidden("User don't have role to access smart admin");
				);

				res:= {
					authenticated: true,
					orgName: Str(orgName),
					role: role.ToString(),
					username: Str(username),
					jwt: Str(PJwt)
				};				
           ););
        ]]>
	</StartupScript>
</ServiceConfiguration>
