<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
			Global.["ValidateAgentApiToken"]:= (ValidateAgentApiToken(throwIfIdentityInvalid, throwIfContactNotPopulated):= 
            (
            try
            (
			   if(Response != null) then 
			   (
			       Response.SetHeader("Access-Control-Allow-Origin","*");
			   );
			   
               if(Request == null) then 
               (
                 Error("Forbidden");
               );

               header:= null;
               jwtFactory:= null;
               reason:= null;
               
               Request.Header.TryGetHeaderField("Authorization", header);
               PJwt:= Trim(header.Value.Replace("Bearer ", ""));
               
               Waher.Runtime.Inventory.Types.TryGetModuleParameter("JWT", jwtFactory);
               if(jwtFactory == null) then 
               (
                  Error("Forbidden");
               );
               
               Token:=Create(Waher.Security.JWT.JwtToken, PJwt);
               if(!jwtFactory.IsValid(Token, reason)) then
               (
                  Error("Token " + reason);
               );
               
               array:= Split(Token.Claims.sub, "@");
               if(array.Length != 2) then 
               (
                  Error("Invalid token");
               );
               
               username:= Trim(array[0]);
               userDomain:= Trim(array[1]);
               gatewayDomain:= Trim(Gateway.Domain);
               
               if(System.String.IsNullOrWhiteSpace(username) || System.String.IsNullOrWhiteSpace(userDomain)) then
               (
                    Error("Invalid user");
               );
               
			   legalIdentity:= select top 1 Id from LegalIdentities where Account = username and State = "Approved";
			   isUserApproved:= !System.String.IsNullOrWhiteSpace(legalIdentity);
			   
			   if(throwIfIdentityInvalid and !isUserApproved) then
			   (			        
                   Error("User is not approved");
			   );
			   
			   contactFilled:= true;
			   
			   OrganizationContactInfo:= select top 1 * from POWRS.PaymentLink.OrganizationContactInfo where Account = username;
               if(OrganizationContactInfo == null) then 
			   (
			    contactFilled:= false;
			   )
			   else if(!OrganizationContactInfo.IsValid()) then 
			   (
			    contactFilled:= false;
			   );
			   
			   if(throwIfContactNotPopulated and !contactFilled) then 
			   (
			        Error("Contact informations are not existent or not properly populated");
			   );

               res:= {
                 authenticated: true,
                 legalId: legalIdentity,
				 isApproved: isUserApproved,
				 contactInformationsPopulated: contactFilled,
                 username: Str(username),
				 jwt: Str(PJwt)
               };
            )
            catch
            (
               Log.Error(Exception, null);
               Forbidden(Exception.Message);
            );
           ););
              ]]>
	</StartupScript>
</ServiceConfiguration>
