<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
             <![CDATA[
			  Global.["ValidateUrl"]:= (ValidateUrl(url):= 
			  (
			    isSuccess:= true;
				isTestNeuron := contains(LowerCase(domain),"lab");
				
                try 
                (

                    if (!isTestNeuron) then
                    (
                        if(url not like "^(https?:\\/\\/)(www\\.)?[a-zA-Z0-9-]+(\\.[a-zA-Z]{2,})+(\\/[^\\s]*)?$") then 
                        (
                            isSuccess:= false;
                        )
                        else
                        (
                            urlResponse:= HEAD(url);
                            isSuccess:= urlResponse.StatusCode != 404;
                        );
                    );
                )
                catch
                (
                    isSuccess:= false;
                );

                isSuccess;
			  ););
              ]]>
	</StartupScript>
</ServiceConfiguration>
